html {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #eae7de;
}

b{
    font-weight: 700;
}
/* Header */
.container {
  overflow: hidden;
}
.nav {
  padding: 3rem 5% 2.5rem;
  border-bottom: 1px solid #051619;
  position: relative;
}

.nav .homebtn {
  width: 226px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav .nav-inner {
  display: flex;
  justify-content: flex-end;
}

.nav .navlist .box {
  width: 50px;
  height: 50px;
  border: 1px solid #051619;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 15px;
}
.nav .navlist .box:nth-child(2) {
  font-size: 25px;
  margin-left: -1px;
}

.nav .navlist:after {
  content: "";
  clear: both;
  display: block;
}

/* SECTION */

.container {
  position: relative;
}
.container .hedgehog {
  position: absolute;
  bottom: -9rem;
  left: 50%;
  width: 100%;
  max-width: 530px;
  margin-left: 60px;
}
.container .slogan {
  padding: 1rem 0;
  border-bottom: 1px solid #051619;
  font-size: 3rem;
  letter-spacing: -0.025rem;
}

.container .slogan .slogan-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  font-weight: bold;
}

.container .orangebox {
  padding: 2rem 0 3rem;
  background: #ff6b00;
  box-sizing: border-box;
}

.orangebox-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}

.orangebox-inner .txtmsg {
  max-width: 560px;
  font-size: 1.125rem;
  font-weight: bold;
}
.orangebox-inner .single {
  margin-top: 1rem;
}
/* FORM */

.orangebox .orangebox-inner .suscribe {
  margin-top: 1.5rem;
}

.orangebox .orangebox-inner .inputbox-inner {
  margin-bottom: 0.5em;
  width: 452px;
  padding: 10px 40px 11px 1.5rem;
  border: 1px solid #000;
}
.orangebox-inner .suscribe .checkbox {
  position: relative;
  padding: 0.5rem 0;
  display: block;
}
.orangebox-inner .suscribe .inputcover {
  position: absolute;
  outline: auto;
}
.orangebox-inner .suscribe .checkbox .boxinput {
  height: 16px;
  display: block;
  line-height: 16px;
  position: relative;
}

input[type="checkbox"] + label::before {
  content: "\F26C";
  font-family: "Bootstrap-icons";
  padding-right: 1rem;
  font-size: 16px;
}

input[type="checkbox"]:checked + label::before {
  content: "\F26D";
  color: #000;
}

input[type="checkbox"] {
  display: none;
}

.orangebox .orangebox-inner .buttons {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-column-gap: 8px;
  column-gap: 8px;
}

.orangebox .orangebox-inner .buttons .buttonsus {
  text-align: center;
  border: 2px solid #051619;
  border-radius: 8px;
  box-sizing: border-box;
  color: #051619;
  background: #fff;
  margin: 0;
  padding: 10px 1.5rem 11px;
  display: flex;
  justify-content: center;
}
.orangebox .orangebox-inner .buttons .downloadapp {
  background: #000;
  color: #fff;
}

.catagory {
  display: flex;
  justify-content: center;
  border-top: 1px solid #051619;
  border-bottom: 1px solid #051619;
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: -1px;
}
.catagory .catagory-inner {
  display: flex;
}
.catagory .catagory-inner .catagory-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  padding: 1.25rem 0;
  box-sizing: border-box;
  font-size: 1.125rem;
  color: #051619;
}
/*NEWSFEED*/
.newsfeed {
  padding: 0 5%;
  max-width: 1360px;
  margin: 0 auto;
  box-sizing: content-box;
}

.newsfeed .newsfeed-contain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-right: 1px solid #000;
}

.newsfeed .newsfeed-contain .newslist {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.newsfeed .newsfeed-contain .newsimg {
  padding-bottom: 75%;
  height: 0;
  border-bottom: 1px solid #000;
  position: relative;
}

.newsfeed .newsfeed-contain .newsimg > img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.newsfeed .newsfeed-contain .newslist:hover .newsimg > img {
  filter: grayscale(0);
}
.newsfeed .newsfeed-contain .newslist:hover .newsinfo {
  background-color: #fff;
}

.newsfeed .newsfeed-contain .newslist .newsinfo {
  padding: 1.5rem 1.75rem;
}

.newsfeed .newsfeed-contain .newslist .newsinfo .topicgenre {
  display: inline;
  padding-left: 10px;
}

.newsfeed .newsfeed-contain .newslist .newsinfo .newtitle {
  font-weight: 700;
  font-size: 1.25em;
  padding-bottom: 0.5em;
}

.newsfeed .buttons-more {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.newsfeed .buttons-more .buttons-more-content {
  text-align: center;
  border: 1px solid #051619;
  border-radius: 8px;
  box-sizing: border-box;
  color: #051619;
  background: #fff;
  margin: 0;
  padding: 12px 1.5rem 13px;
  display: flex;
  justify-content: center;
  width: 19rem;
}

.banner {
  margin-top: 10rem;
}
.banner .bannerhedge {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  display: block;
  margin: 14rem 0 8rem;
}

.banner .bannerimg .hedgehog-waiting {
  width: 300px;
  position: absolute;
}

.banner .bannerimg {
  position: relative;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #ff6b00;
}

.banner .appdownlast {
  padding: 1.55rem;
  background: #fff;
  display: flex;
  justify-content: center;
  border-top: 1px solid #000;
  font-size: 1.125rem;
  font-weight: 700;
  align-items: center;
}
.arrow-right {
  position: relative;
  width: 80px;
  height: 2px;
  background-color: #000;
  margin-left: 1rem;
  display: inline-block;
}

.arrow-right::before{
    transform: rotate(50deg);
    width: 17px;
    height: 2px;
    position: absolute;
    background-color: #000;
    display: block;
    content:'';
    right:-2px;
    bottom: 6px;
    
}
.arrow-right::after{
    transform: rotate(-50deg);
    width: 17px;
    height: 2px;
    position: absolute;
    background-color: #000;
    display: block;
    content:'';
    right:-2px;
    bottom: -6px;
    
}

.footerguidetxt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*footer*/

.wrap .footcontainer .footcontainer-upper {
    border-bottom: 1px solid #000;
    margin-bottom: 4rem;
}
.wrap .footcontainer .footerlinetop{
border-top: 1px solid #000;
width: 100%;
padding: 1.25rem 5%;
}

.wrap .footcontainer .minicontainer{
    padding: 1.25rem 5%;
    display: flex;
}

.wrap .footcontainer .footerlinetop .footerguidetxt{
    font-size: 1.5rem;
    font-weight: 500;
}

.wrap .footcontainer .homelogolast{
    display: inline-block;
    max-width: 200px;
    margin: 0 0 16px;
}

.wrap .footcontainer .homelogo{
    width: 50%;
}

.footermenu{
    display: flex;
    width: 50%;

}


.foot-menu{
    /* list-style-type: none; */
}

.footermenulist{
    flex: 1;
    text-align: right;
}

.listspace{
    padding-bottom: 1rem;
    font-weight: 600;
}

.contact-info{
    padding: 7rem 5% 6rem;
}

.contact-info .contact-info-comment{
    padding: 0 0 4px;
    font-weight: 500;
}

.contact-info .contact-info-comment:nth-child(4){
    font-size: 12px;
    padding-top: 1rem;
}